@page "/counter"
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models
@rendermode InteractiveServer

<PageTitle>House*Details</PageTitle>

<h1>Detaljer om valt hus</h1>

@if (houseData != null)
{
    <ul>
       <li>Id: @houseData.HouseId</li>
        <li>Gata: @houseData.Street</li>
        <li>Stad: @houseData.City</li>
        <li>Boyta: @houseData.Area</li>
        <li>Byggår: @houseData.BuildYear</li>
        <li>Antal våningar: @houseData.NoOfFloors</li>
        <li>Antal rum: @houseData.NoOfRooms</li>
    </ul>
}
else
{
    <p>Laddar...</p>
}
@code {
    private House houseData;

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        houseData = await ApiService.Get<House>("https://localhost:7015/api/Visitor/HouseById?id=2");
    }

}

