@page "/edithouse/{id}"
@using HermanTheBrokerGUI.Models
@using HermanTheBrokerGUI.Services

<h3>Redigera hus</h3>

<EditForm Model="@FormValues" OnValidSubmit="SubmitEdit" FormName="edithouse">
    <div class="col-sm-2">
        <label>
           Hus Id:
            <InputNumber @bind-Value="FormValues.HouseId" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Gata:
            <InputText @bind-Value="FormValues.Street" />
        </label>
        </div>
    <div class="col-sm-2">
        <label>
            Stad: 
            <InputText @bind-Value="FormValues!.City" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Area:
            <InputNumber @bind-Value="FormValues!.Area" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Byggår:
            <InputNumber @bind-Value="FormValues!.BuildYear" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Kategori:
            <InputSelect @bind-Value="CategoryString" >
                <option value="@Category.Bostadsrättslägenhet">@Category.Bostadsrättslägenhet</option>
                <option value="@Category.Bostadsrättsradhus">@Category.Bostadsrättsradhus</option>
                <option value="@Category.Villa">@Category.Villa</option>
                <option value="@Category.Fritidshus">@Category.Fritidshus</option>
            </InputSelect>
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Antal våningar:
            <InputNumber @bind-Value="FormValues!.NoOfFloors" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Antal rum:
            <InputNumber @bind-Value="FormValues!.NoOfRooms" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            Mäklar id:
            <InputText @bind-Value="FormValues.BrokerId" />
        </label>
    </div>
    <div class="col-sm-2">
        <button>Spara</button>
    </div>
</EditForm>

<PicUpload houseId=@Id></PicUpload>

@if (submitted)
{
    <p>Ändringar sparade.</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    [SupplyParameterFromForm]
    House FormValues { get; set; } = new();
    public Category? CategoryString { get; set; }

    [Inject]
    private ApiService ApiService { get; set; }

    bool submitted = false;
    House NewHouseValues { get; set; } = new();  //Values from db including concurrency token
    int houseId;

    protected override async Task OnInitializedAsync()
    {
        if (FormValues.Area == 0)
        {
            NewHouseValues = await ApiService.GetById(Int32.Parse(Id));
            FormValues.HouseId = NewHouseValues.HouseId;
            FormValues.Street = NewHouseValues.Street;
            FormValues.City = NewHouseValues.City;
            FormValues.Area = NewHouseValues.Area;
            FormValues.BuildYear = NewHouseValues.BuildYear;
            FormValues.NoOfFloors = NewHouseValues.NoOfFloors;
            FormValues.NoOfRooms = NewHouseValues.NoOfRooms;
            CategoryString = NewHouseValues.Category;
            FormValues.Error = NewHouseValues.Error;
            FormValues.Status = NewHouseValues.Status;
            FormValues.BrokerId = NewHouseValues.BrokerId;
            FormValues.Broker = NewHouseValues.Broker;
           // FormValues.Broker.Email = NewHouseValues.Broker.Email;

            houseId = NewHouseValues.HouseId;
        }
    }

    private async Task SubmitEdit()
    {
        submitted = true;
        // Get values again, otherwise Broker gets lost in space...
        NewHouseValues = await ApiService.GetById(Int32.Parse(Id));
        NewHouseValues.HouseId = FormValues.HouseId;
        NewHouseValues.Street = FormValues.Street;
        NewHouseValues.City = FormValues.City;
        NewHouseValues.Area = FormValues.Area;
        NewHouseValues.BuildYear = FormValues.BuildYear;
        NewHouseValues.NoOfFloors = FormValues.NoOfFloors;
        NewHouseValues.NoOfRooms = FormValues.NoOfRooms;
        NewHouseValues.Category = CategoryString;
        NewHouseValues.BrokerId = FormValues.BrokerId;
        var res = await ApiService.Edithouse(NewHouseValues);
    }
}
