@page "/housedetails/{id}"
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<h3>Detaljer om valt hus</h3>
@if (houseData != null)
{
        <ul>
            <li>hus nummer: @houseData.HouseId</li>
            <li>byggår: @houseData.BuildYear</li>
            <li>boyta: @houseData.Area</li>
            <li>antal våningar: @houseData.NoOfFloors</li>
            <li>antal rum: @houseData.NoOfRooms</li>
            <li>gatuadress: @houseData.Street</li>
            <li>stad: @houseData.City</li>
        </ul>
}
@code {
    [Parameter]
    public string Id { get; set; }
    private House houseData;

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        houseData = await ApiService.GetById(Int32.Parse(Id));
    }
}