@page "/housedetails/{id}"
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<h3>Detaljer om valt hus</h3>
@if (houseData != null)
{
@*     @foreach (var item in @houseData)
    { *@
        <ul>
        <li>@houseData.HouseId</li>
        <li>Byggår: @houseData.BuildYear</li>
        <li>Boyta: @houseData.Area</li>
        <li>Antal våningar: @houseData.NoOfFloors</li>
        <li>Antal rum: @houseData.NoOfRooms</li>
        <li>Gatuadress: @houseData.Street</li>
        <li>Stad: @houseData.City</li>
        </ul>
    @* } *@
}
@code {
    [Parameter]
    public string Id { get; set; }

    private House houseData;

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        houseData = await ApiService.GetById(Int32.Parse(Id));
    }
}