@page "/housedetails/{id}"
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<h3>Detaljer om valt hus</h3>
@if (houseData != null)
{
        <ul>
            <li>Hus nummer: @houseData.HouseId</li>
            <li>Kategori: @houseData.Category</li>
            <li>Bostadsadress: @houseData.PostalAddress</li>
            <li>Stad: @houseData.City</li>
            <li>Utgångspris: @houseData.AskingPrice</li>
            <li>Bostadsyta: @houseData.LivingArea</li>
            <li>Biyta: @houseData.SecondaryArea</li>
            <li>Tomtyta: @houseData.GardenArea</li>
            <li>Beskrivning: @houseData.Description</li>
            <li>Antal rum: @houseData.NoOfRooms</li>
            <li>Månadsavgift: @houseData.MonthlyFee</li>
            <li>Driftskostnad/år: @houseData.YearlyRunningCosts</li>
            <li>Byggnadsår: @houseData.BuildYear</li>
            <hr />
            <li>Mäklare: @houseData.Broker.Name, @houseData.Broker.Email</li>
        </ul>
}

<PicViewer houseId=@Id></PicViewer>

@code {
    [Parameter]
    public string Id { get; set; }
    private House houseData;

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        houseData = await ApiService.GetById(Int32.Parse(Id));
    }
}