@page "/housedetails/{id}"
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<h3>Detaljer om valt hus</h3>
@if (houseData != null)
{
        <ul>
            <li>Hus nummer: @houseData.HouseId</li>
            <li>Byggår: @houseData.BuildYear</li>
            <li>Boyta: @houseData.Area</li>
            <li>Antal våningar: @houseData.NoOfFloors</li>
            <li>Antal rum: @houseData.NoOfRooms</li>
            <li>Gatuadress: @houseData.Street</li>
            <li>Stad: @houseData.City</li>
            <hr />
            <li>Mäklare: @houseData.Broker.Name, @houseData.Broker.Email</li>

        </ul>
}
@code {
    [Parameter]
    public string Id { get; set; }
    private House houseData;

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        House Data = await ApiService.GetById(Int32.Parse(Id));
        houseData = Data;
    }
}